:root {
--basic-black: #000000;
--basic-white: #ffffff;
--basic-lightly-red: #FB565A;
--basic-red: #D7373B;
--basic-dark-red: #E74246;
--basic-lightly-green: #00CA74;
--basic-green: #00BC6C;
--basic-dark-green: #00AA62;
--basic-lightly-yellow: #EFC849;
--basic-yellow: #EAB534;
--basic-dark-yellow: #E5A722;
--basic-grey: #666666;
--basic-dark-grey: #444444;
--basic-semi-dark: #283136;
--basic-background-grey:#EEEEEE;
}

.main-header {
background-color: #EEEEEE;
}

ul {
list-style-type: none;    
}

.site-navigation a, .basket {
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 30px;
color:#000000;
text-decoration: none;
text-transform: uppercase;
}

h3 {
font-family: "Roboto";
font-weight: 700;
font-size: 24px;
line-height: 30px;
color:#000000;
text-transform: uppercase;
}

.products-list p {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:#000000;
}

.products-list button {
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 18px;
color:#ffffff;
text-decoration: none;
text-transform: uppercase;
}

.products-list button {
width: 160px;
height: 50px;
border: none;
}

.products-list li:nth-child(1) button {
background: #FB565A;
}

.products-list li:nth-child(2) button {
background: #00CA74;
}

.products-list li:nth-child(3) button {
background: #EFC849;
}

.about-us h3 {
font-family: "Roboto";
font-weight: 500;
font-size: 45px;
line-height: 45px;
color:#000000;
}

.about-us h3 {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:#283136;
}

.about-us fieldset {
font-family: "Roboto";
font-weight: 700;
font-size: 16px;
line-height: 24px;
color:#283136;
}

.list-of-works li {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:#283136;
}

.statistics dt {
font-family: "Roboto";
font-weight: 700;
font-size: 45px;
line-height: 64px;
color:#000000;
}

.statistics dd {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 18px;
color:#000000;
}

.address p {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 18px;
color:#666666;
text-decoration: none;
}

.address a {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 18px;
color:#666666;
text-decoration: none;
}

input[type="button"] {
width: 219px;
height: 50px;
font-family: "Roboto";
font-weight: 500;
font-size: 16px;
line-height: 30px;
background: #FB565A;
color:#ffffff;
border: none;
text-transform: uppercase;
}

.login-form .login-user, .login-form .email, .login-form .comment {
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #444444;
}

label {
font-family: "Roboto";
font-weight: 700;
font-size: 16px;
line-height: 18px;
color: #000000;
}

h4 {
font-family: "Roboto";
font-weight: 700;
font-size: 36px;
line-height: 36px;
color: #000000;   
}





